.container {
    width: 70rem;
    padding: 2rem;
    margin-top: 8rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    height: 70vh;
}

input {
    border: 1px solid #333;
    border-radius: 5rem;
    height: 2rem;
    width: 75%;
    margin-right: .5rem;
    padding: 1rem;
}

input:focus {
    outline: none;
}

button {
    border-radius: 5rem;
    height: 2rem;
    border: 1px solid darkblue;
    background-color: darkblue;
    color: white;
}